body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  align-items: center;

}

h1 {
  font-size: 3.5rem;
  text-align: center;
  color: #5b7c81;
  margin-top: 100px;
}

h2 {
  font-size: 1.9rem;
  text-align: center;
  color: #5b7c81;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  color: #5b7c81;
}

.topnav {
  overflow: hidden;
  float: right;
  margin: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: aquamarine;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #5b7c81;
}

.topnav:hover {
  background-color: #76c6de;
  color: black;
}

.topnav a.active {
  background-color: #ffffff;
  color: white;
}

.nav-item {
  margin: 14px;
}


.footer {
  left: 0;
  bottom: -300px;
  width: 100%;
  padding: 1px;
  background-color: #6ab0bc;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16;
}

.logo {
  position: relative;
  margin-left: 1px;
  left: 1.5rem;
  top: 1rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.card_container {
  position: relative;
  padding: 1px;
  margin: auto;
  text-align: center;
  margin-top: auto;
}

.square {
  /*position: relative;*/
  width: 200px;
  background-color: #9fd0d8;
  border-style: inherit;
  border-color: #6ab0bc;
  border-radius: 5px;
  padding: 1px;
  margin: 40px;
  display: inline-block;
  /*margin-top: 230px;
  margin-left: 300px;*/
  text-align: auto;
}

#square1 {
  max-height: fit-content;
}

#square2 {
  max-height: fit-content;
}

#square3 {
  max-height: fit-content;

}


.square-img {
  margin-top: 20px;
  max-width: 50%;
  padding: 4px;
}

.paragraph {
  text-align: center;
  color: #5b7c81;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  margin-left: 150px;
  margin-right: 150px;
}
.mainbody {
  text-align: center;
  color: #5b7c81;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-left: 150px;
  margin-right: 150px;
}

h4 {
  text-align: center;
  color: white;
}
.heading {
  text-align: center;
  color: #5b7c81;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  margin-left: 200px;
  margin-right: 200px;
  padding: 5px;
}

